* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Space Mono', monospace;
}

.container {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin-left: auto;
  margin-right: auto;



}

@media (min-width:768px) {
  .container {
    width: 750px;
  }

}

@media (min-width:992px) {
  .container {
    width: 970px;
  }

}

@media (min-width:1200px) {
  .container {
    width: 1150px;
  }
}

header {
  margin-bottom: 9.375rem;
}

header .container h1 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;

}


main .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .container .left img {
  max-width: 100%;
}

main .container .left,
main .container .right {
  max-width: calc((100% - 2.5rem) / 2);
}


main .container .right h2 {
  font-size: 4rem;
  font-weight: 700;
  color: #333333;
  margin-bottom: 40px;
  line-height: 91px;
}

main .container .right p {
  margin-bottom: 2.5rem;
  color: #4F4F4F;
}

main .container .right button {
  outline: none;
  background-color: #333333;
  color: #ffff;
  text-transform: uppercase;
  padding: 20px 10px;
  cursor: pointer;
}

footer {
  position:fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
color: #BDBDBD;
font-size: 14px;
}


@media (max-width:767px) {
  footer{
    position: relative;
  }
  main .container {
    flex-direction: column;
    
  }
  main .container .right button {
    margin-bottom: 100px;
  }
  main .container .right h2 {
    font-size: 3rem;
    line-height: 71px;
  }
  main .container .right p {
    font-size: 1.125rem;
    line-height: 26px;
  }
  main .container .left,
main .container .right{
  max-width: 100%;
}
}